@charset "utf-8";
/* CSS Document */

<style>
		body {
			margin:20px 0 0 0; 
			padding:0; 
			text-align:center;
			font-family: arial;
			font-size:12px;
			background:#282828;
		}
		
			#wrapper {
				width:600px; 
				margin:0 auto;
			}
			
			#header {
				background:url(images/header.gif) no-repeat center center; 
				width:670px;
				height:58px;
			}
		
				#menu {
					list-style:none; 
					padding:0; 
					margin:23px 55px 0 0;
					float:right;
				}
				
				#menu li {
					float:left; 
					padding:0 15px 0 0;
				}
			
				#menu li a {
					color:#666; 
					font-weight: 700; 
					text-decoration:none;
				}
			
				#menu li a.selected {
					color:#333; 
					font-weight: 700; 
					text-decoration:underline;
				}
		
			#body {
				clear:both; 
				display:none;
			}
			
				#body .header {
					background: url(images/body_header.gif) no-repeat center center;
					width:670px;
					height:28px;
				}
				
				#body .body {
					background: url(images/body.gif) repeat-y;
					width:600px;
					padding:0 40px;
					text-align:left;
					color:#444;
				}
				
				#body .footer {
					background: url(images/body_footer.gif) no-repeat center center;
					width:670px;
					height:24px;
				}
			
			.loading {
				background: url(images/load.gif) no-repeat center center;
				height:48px;
				display:none;
			}
			
			
	</style>
	