/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#9dd013; }
a:hover { text-decoration:none; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #162E3B; color:#fff; text-shadow: none; }
::selection { background:#162E3B; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }









 /* Primary Styles
    Author: Matthew Budd
 */


.ie6 img, .ie7 img,
.ie6 p, .ie7 img {
	/*width: 100%;*/
}





body{
	background:#0A1318 url("../images/joystik.jpg") no-repeat scroll center top;
	background:#ffffff;
	font-size:14px;
}

ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

#container{
	margin:0 auto;
	width:950px;
}

#header{
	display:block;
	background:none;
	margin:0;
}

body #container #logo h1  {
	width:950px;
	position:absolute;
	margin:0;
}

body #container #logo h1 a {
	/*background:#fff url("http://www.hm-treasury.gov.uk/i/logoHMT.gif") no-repeat scroll center center;*/
	display:block;
	height:80px;
	margin:0 0 0 0;
	outline:medium none;
	text-indent:-9000em;
	width:100%;
}


#amazingnavcontainer{
	margin:0 0 0 0;
}

#amazingnavcontainer ul
{
	padding: 0;
	margin: 0 0 0 10px;
	display:block;
	list-style-type: none;
	background-color: #0a1c28;
	color: #FFF;
	width: 940px;
	font: normal 120% arial, helvetica, sans-serif;
	text-align: center;
	background: url("../images/navbg.png") no-repeat scroll center center;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0px -1px 2px #3c5767;
	-webkit-box-shadow: 0px -1px 2px #3c5767;
	box-shadow: 0px -1px 2px #3c5767;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(10,28,40)),
		color-stop(0.81, rgb(24,52,66))
	);
	background:-moz-linear-gradient(
		center bottom,
		rgb(10,28,40) 23%,
		rgb(24,52,66) 81%
	);*/

}

#amazingnavcontainer ul li { 
	display: inline-block;
	*display:inline;
	margin-left:-5px;
}

#amazingnavcontainer ul li a
{
	text-decoration: none;
	font-size:20px;
	/*background-color: #0a1c28;*/
	color: #fff;
	padding: 19px 37px 19px 37px;
	display:inline-block;
	margin:1px 0 1px 0;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;
	font-family: 'Josefin Slab', arial, serif;
	font-family: 'StMarieThin', arial, serif;*/
	/*border-left:1px solid #1a3141;
	border-right:1px solid #0a1c28;*/
	/*border-right:1px solid #333;*/
	font-weight:normal;
	/*text-transform:lowercase;*/
}

#amazingnavcontainer ul li.first a
{
	border-left:none;
}

#amazingnavcontainer ul li.last a
{
	border-right:none;
}

#amazingnavcontainer ul li a:hover
{
	/*background-color: #369;*/
	/*color: #ccc;*/
	color: #A5CC2D;
	/*text-shadow: 1px 1px 1px #000;*/
}

#amazingnavcontainer ul li.current a, #amazingnavcontainer ul li.current_page_item a
{
	color: #437186;
}

#introduction{
	margin:10px 0 10px 0;
	text-align:left;
	padding:0 0 0 10px;
}
.home #introduction{
	margin:20px 0 20px 0;
	text-align:center;
}
#homeintro{
	margin:30px 0 50px 10px;
	*padding-bottom:30px;
	text-align:center;
	background:#0b1921;
	border:solid 1px #17313F;
}
#homeintro .left{
	width:40%;
	float:left;
	display:inline-block;
	text-align:left;
}
#homeintro .right{
	width:60%;
	float:right;
	display:inline-block;
	text-align:left;
}
#homeintro .content{
	padding:30px 0 30px 30px;
}
#homeintro .right .content{
	padding:30px 0 30px 10px;
}
#homeintro .content h3{
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	font-size:27px;
	line-height:44px;
	color:#fff;
	font-weight:normal;
}

#homeintro .content ul, #homeintro .content p {
	display:inline;
	float:left;
	position:relative;
	color:#fff;
	font-family:'Georgia', Arial;
	font-family:'Arial' ,Helvetica, sans-serif;
	/*font-weight:bold;
	font-size:0.8em;
	letter-spacing:0.03em;*/
}

#homeintro .content a {
	color:#9dd013;
}

#homeintro .content .inner {
	width:390px;
	/*border-right:1px solid #0b1319;*/
	float:left;
	margin:0 20px 20px 0;
	padding: 0;
	background:url("../images/bg-divide.gif") repeat-y top right;
}
#homeintro .content .inner p {
	padding:0 30px 0 15px;
	line-height:27px;
	/*border-right:1px solid #17313f;*/
	display:inline;
	font-size:14px;
}


#homeintro .content ul {
	width:110px;
	margin:0;
}
.ie6 #homeintro .content ul {
	width:140px;
}
#homeintro .content ul li {
	display:block;
	float:left;
	margin:0 10px 30px 10px;
}
#homeintro .content ul li a {
	background-image:url("../images/social-icons-sprite.png");
	display:block;
	float:left;
	height:34px;
	text-indent:-9999px;
	width:34px;
	clear:both;
}
.icon-twitter {
	background-position:0 -63px;
}
.icon-linkedin {
	background-position:0 -247px;
}
.icon-delicious {
	background-position:0 -124px;
}
.icon-flickr {
	background-position:0 -306px;
}
.icon-ember {
	background-position:0 -183px;
}
#introduction h2{
	color:#fff;
	font-size:20px;
	font-weight:normal;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;
	/*font-family: 'Josefin Slab', arial, serif;
	font-family: 'StMarieThin', arial, serif;*/
	line-height:50px;
	padding:10px 0 10px 0;
}
#introduction h2 em, #main h2 em{
	font-style:normal;
	color:#2fabe9;
}
.home #introduction h2{
	font-size:30px;
	line-height:50px;
	padding:10px 0 10px 0;
}




.awesomebutton, .awesomebutton:visited {
	background: #609344; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	font-size:14px;
	color: #0a1318; 
	font-weight:bold;
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	/*text-shadow: 0 -1px 1px rgba(0,0,0,0.25);*/
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border:1px solid #A2C791;
	margin:0 0 30px 0;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(169,204,74)),
		color-stop(0.81, rgb(98,145,67))
	);
	background:-moz-linear-gradient(
		center bottom,
		rgb(169,204,74) 23%,
		rgb(98,145,67) 81%
	);
}

.onethird .awesomebutton{
padding-left:0;
padding-right:0;
	width:100%;
	text-align:center;
}

.awesomebutton:hover{ 
	background: #A2C791; 
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(98,145,67)),
		color-stop(0.81, rgb(169,204,74))
	);
	background:-moz-linear-gradient(
		center bottom,
		rgb(98,145,67) 23%,
		rgb(169,204,74) 81%
	);
	color: #0a1318; 
	border:1px solid #609344;
 }
 
.awesomebutton:active{
	top: 1px;
}








.morebutton, .morebutton:visited {
	display: inline-block; 
	padding: 4px 10px 3px 30px; 
	font-size:17px;
	font-family:'Georgia', Arial;
	font-family:'Arial', Helvetica, Verdana;
	color: #0a1318; 
	font-weight:normal;
	text-decoration: none;
	background: #76b707 url("../images/bg-more.gif") no-repeat ;
	border:1px solid #618b0a;
	-moz-box-shadow: 0 0 25px #020405;
	-webkit-box-shadow: 0 0 25px #020405;
	box-shadow: 0 0 25px #020405;
}

.onethird .morebutton{
	padding-left:0;
	padding-right:0;
	width:100%;
	text-align:center;
}

.morebutton:hover{ 
	color: #0a1318; 
	border:1px solid #609344;
	background-position:-508px 0;
	padding: 4px 10px 3px 30px; 
 }
 
.morebutton:active{
	top: 1px;
}


#infscr-loading{
	padding:0 0 20px 0;

}








#main {
	margin:0 0 20px 0;
	padding:30px 0 0 0;
	display:inline-block;
}
#main p{
	color:#9CB0A6;
	padding:0 20px 20px 0;
	line-height:22px;
}
#main .hresume p{
	padding:0 20px 0 0;
}
.home #main{
	/*background: url("../images/gradient-divide.jpg") no-repeat scroll center top;
	border-top:solid 1px #263039;*/
	padding:0 0 0 0;
}
.gradup {
	padding:0 0 30px 0;
	display:inline-block;
	width:950px;
	/*background: url("../images/gradient-divide-up.jpg") no-repeat scroll center bottom;*/
	margin-bottom:-3px;
	/*border-bottom:solid 1px #263039;*/
}
.ie6 .gradup, .ie7 .gradup {
	margin-bottom:0;
}
.home #main .gradup {
	margin-bottom:0;
}
.clearboth{
	clear:both;
}
#main h2{
	font-family: 'Lora', arial, serif;
	
	
    font-family: 'Lora',sans-serif;
	
	
	/*font-family: 'LaneNarrowRegular', verdana;
	/*font-family: 'Josefin Slab', arial, serif;
	font-family: 'StMarieThin', arial, serif;*/
	color:#586a74;
	font-size:22px;
	margin:0 0 30px 0;
	font-weight:normal;
}
.home #main h2{
	margin:0 0 10px 0;
}
.entry #main h2, .page #main h2, .press #main h2, #main .errorpage h2{
	color:#9CB0A6;
	font-size:32px;
	font-weight:normal;
}
#main .errorpage h2{
	color:#fff;
	font-size:43px;
	font-weight:normal;
	margin:30px 0 10px 0;
}
#main .errorpage p{
	padding:0;
}
.errorpage{
	text-align:center;
}
.entry #main h2 a{
	background:#ccc;
}
#main .hresume h2{
	font-size:28px;
}
.entry #main .onethird h3, .page #main .onethird h3, .press #main .onethird h3, #main .twothird h3{
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	color:#666;
	font-size:21px;
	font-weight:normal;
	margin:10px 0 0 0;
}
.entry #main .onethird.content h3{
	font-family: 'Georgia', verdana;
	font-family:'Arial' ,Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	margin:30px 0 5px 0;
}
.entry #main .onethird.content .inner-content img{
	margin:10px 0 0 0;
	padding-top:10px;
}
.entry #main .onethird.content p{
	font-family: 'Georgia', verdana;
	font-family:'Arial' ,Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
}
.entry #main .onethird.content p a{
	color:#79a114;
}


.entry #main .onethird h4{
	font-weight:normal;
	color:#44565a;
	font-size:15px;
	color:#40575f;
	background-color:#0F1E25;
	padding:6px 0 6px 10px;
	margin:0 0 1px 0;
}
.entry #main .onethird h5, .entry #main .onethird .widget-title, .page #main .onethird .widget-title, .press #main .onethird .widget-title{
	font-weight:normal;
	font-size:15px;
	color:#fff;
	padding:16px 0 6px 0;
	margin:0 0 1px 0;
	/*border-bottom:1px solid #141c1f;*/
	font-family:sans-serif;
}

.entry #main .onethird ul li{
	font-weight:normal;
	font-size:15px;
	color:#75A5B1;
	padding:6px 0 6px 0;
	margin:0 0 1px 0;
	border-bottom:1px solid #141c1f;
}

.entry #main .onethird ul li a{
	text-decoration:none;
	color:#75A5B1;
}

.entry #main .onethird img{
	margin:75px 0 -4px 0;
	border-top: 1px solid #141C1F;
	border-top: 0;
}

#main .onethird.plus img{
	margin:15px 0 20px 0;
}
#main .half{
	width:455px;
	border:5px solid #466f81;
	display:inline-block;
	height:150px;
	margin:15px 10px;
}
#main .full{
	width:950px;
	/*border:5px solid #466f81;
	background:#191c21;*/
	display:inline-block;
	height:270px;
	margin:15px 0 15px 0;
}
#main .twothird{
	width:710px;
	display:inline;
	margin:15px 10px;
}
#main .twothird{
	width:680px;
	padding-left:10px;
	_display:inline-block;
	_float:left!important;
	_width:680px!important;
}
#main .twothird img{
	padding:0 0 60px 0;
	background: url("../images/spotlight-fullwidth.png") no-repeat scroll center bottom;
}
.page #main .twothird img{
	padding:10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background: #fff;
}

h4{
	color:#fff;
}

#main .onethird h4{
	color:#fff;
	font-family:'Georgia', arial, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:16px;
	padding:25px 0 0 0;
}

.page #main .twothird img.ajax-loader{
	padding:10px 10px 0 0;
	background: none;
	float:right;
}

div.wpcf7-response-output {
    margin: 2em 15px 10px 0!important;
}

#main .onethird{
	width:220px;
	display:inline;
	margin:15px 10px;
}
#main .onethird.plus{
	width:240px;

}
#main .onethird.plus h5{
	border:0;
	font-family:'Georgia', arial, sans-serif;
	color:#9CB0A6;
}
#main .half .caption, #main .half img, #main .full .caption, #main .full img, #main .holder .caption, #main .holder img, #main .holder-init .caption, #main .holder-init img{
	position:absolute;
	display:inline-block;
	z-index:1;
}
#main .full .imadethis, #main .full .idesignedthis{
	position:absolute;
	margin:230px 0 0 413px;
	z-index:2;
}

#main .full .imadethis h3 a, #main .full .idesignedthis h3 a{
	background:#000;
	font-family:'Georgia', Arial;
	font-family:'Arial' ,Helvetica, sans-serif;
	font-size:15px;
	color:#fff;
	width:425px;
	opacity:0.8;
	text-decoration:none;
	padding:6px 25px 6px 25px;
	font-weight:normal;
	line-height:30px;
}
#main .full .imadethis h3 a:hover{
	opacity:1;
}

#main .full .caption{
	margin-left:0px;
	padding-top:10px;
}
#main .full img{
	-moz-box-shadow: 0px 4px 4px #000;
	-webkit-box-shadow: 0px 4px 4px #000;
	box-shadow: 0px 4px 4px #000;
	margin:0 0 0 10px;
}
#main .full{
	background: url("../images/spotlight-fullwidth.png") no-repeat scroll center bottom;
	padding:0 0 30px 0;
	margin:-10px 0 -10px 0;
}
#main .anythingSlider .first{
	margin-bottom:-30px;

}
#main .half .caption h3, #main .full .caption h3{
	padding:0 5px 0 0;
	margin:0;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	font-size:30px;
	color:#fff;
	width:425px;
	line-height:45px;
}
#main .full .caption h3{
	width:940px;
}
#main .half .caption h3 a, #main .full .caption h3 a{
	background:#739131;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	font-size:30px;
	color:#fff;
	width:425px;
	opacity:0.93;
	text-decoration:none;
	padding:4px 8px 4px 8px;
	font-weight:normal;
}
#main .half .caption h3 a:hover, #main .full .caption h3 a:hover{
	opacity:1;
}
#main .left{
	margin-left:0;
	clear:left;
	float:left;
}
#main .right{
	margin-right:0;
	clear:right;
	float:right;
}



#client
{
	width:100%;
	border-collapse:collapse;
	margin-top:0;
	margin-bottom:30px;
}
#client td, #client th 
{
	font-size:1em;
	border-top:1px solid #141C1F;
	border-bottom:1px solid #141C1F;
	padding:8px 0px 8px 10px;
}
#client th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#0F1E25;
	color:#ffffff;
}
#client tr td, .entry #main .onethird.content #client tr td p
{
	color:#40575F;
	font-family: 'arial', verdana;
	font-size:14px;
	/*background-color:#0F1E25;*/
}
.entry #main .onethird.content #client tr td p, .entry #main .onethird.content #client tr td.alt p
{
	padding:3px 0 3px 0;
}
#client tr td.alt, .entry #main .onethird.content #client tr td.alt p
{
	color:#50c8ed;
	font-family: 'arial', verdana;
	font-size:14px;
}


/*
    AnythingSlider v1.4.1+ Default (base) theme

    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider {
	width: 950px;
	height: 590px;
	margin: 0 auto;
	padding:0;
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider .thumbNav a.cur, div.anythingSlider .thumbNav a {
	background: none;
	color: #000;
	border:2px solid #283e4b;
}
div.anythingSlider .anythingWindow {
	/*border-top: 3px solid #777;
	border-bottom: 3px solid #777;*/
}
div.anythingSlider .start-stop {
	background-color: #040;
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	background-color: #800;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #ddd;
}

/* Active State */
div.anythingSlider.activeSlider .anythingWindow {
	border-color: #283e4b;
}
div.anythingSlider.activeSlider .thumbNav a.cur {
	background-color: #283e4b;
	color:#283e4b;
}
div.anythingSlider.activeSlider .thumbNav a {
	background-color: none;
}
div.anythingSlider .start-stop {
	background-color: #080;
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	background-color: #d00;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #fff;
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	position: relative;
	padding: 0 0px 28px 0px;
}
/* anythingSlider base UL */
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
div.anythingSlider .arrow a {
	display: block;
	height: 120px;
	margin: -60px 0 0 0;
	width: 45px;
	text-align: center;
	outline: 0;
	background: url(../images/arrows-default.png) no-repeat;
	text-indent: -9999px;
}
div.anythingSlider .forward { right: 0; }
div.anythingSlider .back { left: 0; }
div.anythingSlider .forward a { background-position: 0 -40px; }
div.anythingSlider .back a { background-position: -88px -40px; }
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background-position: 0 -240px; }
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { background-position: -88px -240px; }

/* Navigation Links */
div.anythingSlider .anythingControls { outline: 0; }
div.anythingSlider .thumbNav { margin: 0 0 0 0; float:none; text-align:center; }
div.anythingSlider .thumbNav li { display: inline; }
div.anythingSlider .thumbNav a {
	font: 11px/18px Georgia, Serif;
	color:#0A1318;
	display: inline-block;
	text-decoration: none;
	height: 15px;
	width:15px;
	margin: 0 5px 0 0;
	background-image: url(../images/cellshade.png);
	background-repeat: repeat-x;
	text-align: center;
	outline: 0;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
}
div.anythingSlider .thumbNav a:hover {
	background-image: none;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	background-image: url(../images/cellshade.png);
	background-repeat: repeat-x;
	background-position: center top;
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	display:none;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover { background-image: none; }

div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
div.anythingSlider .arrow a {
	*display:none;
}


/* filter menu */
.filters label{
	padding:3px 0 0 10px;
	margin-bottom:-2px;
	display:inline-block;
	width:160px;
	color:#40575F;
}
.ie7 .filters label, .ie6 .filters label{
	width:155px;
}
.filters li{
	background:#A6B5AA;
	margin:0;
	padding:3px 7px 8px 10px!important;
	*padding-bottom:7px!important;
	*padding-left:5px!important;
	border:0!important;
}
.filters li.checked{
	background:#7f9585;
}
.filters span{
	padding:3px 3px 3px 3px;
	margin:4px 0 0 0;
	*margin:4px 0 0 10px;
	width:25px;
	text-align:right;
	display:inline-block;
	float:right;
	*float:none;
	color:#000;
	font-size:10px;
	background:#d9d9d9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.filters li.checked span{
	background:#a6b5aa;
}

.showall{
	padding-top:25px;
}
.played{
	padding:0;
	font-size:1.4em;
	font-family: 'Lora',sans-serif;
}

.dynamicFilterInput{
	margin-top:7px;
	*margin-top:3px;
	vertical-align:top!important;
}

#holder li, #holder-init li{
	/*border:5px solid #466f81;*/
	padding:0 0 50px 0;
	margin:0 0 0 0;
	height:248px;
	width:640px;
	/*background:#141C1F;*/
	background: url("../images/spotlight-fullwidth.png") no-repeat scroll center bottom;
}


#main #holder li .caption, #main #holder-init li .caption{
	padding:20px 0 0 0;
	position:absolute;
}
#main #holder li h3, #main #holder-init li h3{
	margin:4px 0 0 0;
	width:590px;
	line-height: 34px;
}

#main #holder li .caption a, #main #holder-init li .caption a{
	background:#7f9585;
	padding:2px 8px 3px 8px;
	text-decoration:none;
	color:#fff;
	opacity:0.93;
	-moz-opacity:0.93;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	font-weight:normal;
	font-size:25px;
	z-index:100;
}
#main #holder li img, #main #holder-init li img{
	position:absolute;
	margin:0 10px 0 10px;
	padding:0;
	padding:0 0 0 0;
	/*background: url("../images/spotlight-fullwidth.png") no-repeat scroll center bottom;*/
	-moz-box-shadow: 0px 4px 4px #000;
	-webkit-box-shadow: 0px 4px 4px #000;
	box-shadow: 0px 4px 4px #000;
}

#main #holder li a:hover, #main #holder-init li a:hover{
	opacity:1;
	-moz-opacity:1;
}





#postholder li{
	/*border:5px solid #466f81;*/
	padding:0 0 80px 0;
	margin:0 0 0 0;
	height:70px;
	width:225px;
	/*background:#141C1F;*/
	float:left;
	/*background: url("../images/gradient-underimage.jpg") no-repeat scroll center bottom;*/
}


#main #postholder li .caption{
	padding:20px 0 0 0;
	position:absolute;
}
#main #postholder li h3{
	margin:4px 0 0 0;
}

#main #postholder li a{
	background:#739131;
	padding:2px 8px 3px 8px;
	text-decoration:none;
	color:#fff;
	opacity:0.93;
	-moz-opacity:0.93;
	font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
	font-weight:normal;
	font-size:16px;
	z-index:1
}
#main #postholder li img{
	position:absolute;
	margin:10px 10px 0 10px;
	padding:0;
	-moz-box-shadow: 0px 4px 4px #000;
	-webkit-box-shadow: 0px 4px 4px #000;
	box-shadow: 0px 4px 4px #000;
	width:190px;
}

#main #postholder li a:hover{
	opacity:1;
	-moz-opacity:1;
}







#morebutton{
	text-align:center;
	border-bottom:1px solid #193240;
	margin-top:30px;
	height:15px;
}
.morebutton{
	margin-bottom:-15px;
}
.no-js .morebutton{
	display:none;
}



#footer{
	padding:0 0 30px 0;
}


#footer p{
	font-family: 'Lora', arial, serif;
	color:#437186;
	font-size:14px;
	text-align:center;
}
#footer p span{
	color:#3e474c;
	color:#437186;
}



#footer a, #footer a:active, #footer a:visited { color:#3e474c; color:#437186;}
#footer a:hover { color: #2fabe9; text-decoration:none; }



.xoxo li a{
	display:block;
	background:#101d23;
	padding:6px;
	margin-bottom:1px;
	text-decoration:none;
}

hr{
	display:none;
}
.divider2{
	margin:15px 0 20px 0;
	border-top:1px solid #101d23;
}


/**

* Forms

*/
#commentform {
	margin:1px 0 2px 0;
}
div.error {
	/*background: #a00;*/

	padding: 5px;
	margin: 5px 0 0 18em;
	color: #a00;
}
.wpcf7-form {
	margin-top:10px;
}
form .row div.error {
	font-size : 0.8em;
	margin: 0 0 0 22.5em;
	line-height : 1em;
	color: #a00;
}
form .row {
	margin : 10px 0;
}
form .row span.checkbox {
	line-height:20px;
	padding-bottom:10px;
	text-align:left;
	float:left;
}
form .row span.checkbox input {
	background:none;
	width:15px;
	padding:0;
	margin:2px 0 0 0;
	border:0;
}
form .row span span span span {
	font-size:.7em;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px 0 0 0;
	color:#333333;
}
form .row span span span {
	padding:0 0 8px 0;
	display:inline-block;
}

form .row label {
	width : 175px;
	float : left;
	font-size:1em;
	display : block;
	font-weight : normal;
	padding:5px 5px 5px 0;
	color:#fff;
	text-align:left;
}

form label {
	width : 175px;
	font-size:1em;
	font-weight : normal;
	padding:5px 10px 5px 0;
	margin:10px 0 10px 0;
	color:#fff;
	text-align:left;
	_display:inline-block;
	width:auto!important;
}

form .row input[type=text], form input[type=text], .ie6 form input {
	width : 300px;
	border:0;
	font-family:"Courier New", Courier, monospace;
	font-size:1em;
	padding:4px;
	margin:10px 10px 15px 0;
	background:#efefef;
	/*border:1px solid #e9e9e9;*/
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

form input[type=text], .ie6 form input {
	width : 230px;
	border:0;
	font-family:"Courier New", Courier, monospace;
	font-size:1em;
	padding:4px;
	margin:10px 15px 10px 0;
	background:#efefef;
	border-top:2px solid #cecece;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
}

.ie6 form input {
	width : 241px;
	padding:3px;
	border:0;
	margin-right:10px;
	border-top:2px solid #cecece;
	display:inline;
}
.ie7 form input {
	width : 220px;
}

form .row input[type=password], form input[type=password] {
	width : 300px;
	border:0;
	font-family:"Courier New", Courier, monospace;
	font-size:1em;
	padding:5px;
	background:#efefef;
	border:1px solid #f8f8f8;
}
form p input {
	text-align:left;
	margin-left:0;
	font-size:16px;
}


form .your-email input, form .your-subject input{
	 width:300px;
}

form .row select, form select {
	border: 0;
	font-family:"Courier New", Courier, monospace;
	margin:0;
	font-size:1em;
	height:2em;
	padding:5px;
	border:2px solid #e9e9e9;
}
form .captcha {
	margin-left : 16.5em;
	width:10em;
}
form .submit {
	margin-top : 0;
	margin-left:135px;
	font-size:20px;
}
form .submitbutton {
	padding : 0.3em 0.3em 0.3em 0em;
	margin-top : 0.5em;
}
form .row textarea, form textarea {
	width : 300px;
	height : 15em;
	border:0;
	font-family:"Courier New", Courier, monospace;
	font-size:1.2em;
	padding:5px;
	background:#efefef;
	border:2px solid #e9e9e9;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
form textarea {
	width : 645px;
	height : 10em;
	margin:10px 0 10px 0;
	border-top:2px solid #cecece;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
}
form {
	margin:0 0 0 0;
}

form fieldset {
	background : none;
	border-width:0;
	border-style:solid;
	border-color:#444444;
	font-size:12px;
	margin:0;
	position:relative;
	display:block;
	padding: 0;
}

form fieldset p {
	font-size:1em;
}

form fieldset legend {
	background:none;
	border-width:0;
	border-style:solid;
	border-color:#FFFFFF;
	color:#282828;
	font-weight:bold;
	/*font-variant:small-caps;*/

	font-size:110%;
	padding:0;
	margin:0px 0px 0 -0.5em;
	position:relative;
	top: -12px;
}


#post-18 p{
	color:#fff;
	padding-bottom:0;
}

.wpcf7-submit{
	float:right;
	margin-right:0;
	margin-top:10px;
	display: inline-block; 
	padding: 4px 10px 3px 30px; 
	font-size:17px;
	font-family:'Georgia', Arial;
	font-family:'Arial', Helvetica, Verdana;
	color: #0a1318; 
	font-weight:normal;
	text-decoration: none;
	background: #76b707 url("../images/bg-send.gif") no-repeat ;
	border:1px solid #618b0a!important;
	-moz-box-shadow: 0 0 25px #020405;
	-webkit-box-shadow: 0 0 25px #020405;
	box-shadow: 0 0 25px #020405;
	*width:150px!important;
	_text-align:right;
	_padding-right:20px;
}


span.wpcf7-not-valid-tip {
    color:#fe0000!important;
	background:none!important;
	border:0;
	font-size:11px;
	padding:5px 0 5px 0;
	margin-top:12px;
	margin-left:0px;
	_margin-top:0px;
	_margin-left:0px;
	left:0!important;
	top:-40px!important;
}
div.wpcf7-validation-errors {
    border: 1px solid #fe0000!important;
    color:#fe0000!important;
	background:#280809!important;
	padding:5px;
	clear:both;
	margin:45px 20px 0 0!important;
}


.hresume h1
{
	 font-size: 3em;
	 display:none;
}

.hresume { margin-top: 10px; }
.hresume #nameplate {
	border-bottom: 0; padding-bottom: 10px;
}
.hresume .headline {
	text-align: left;
	padding-left: 120px;
	font-size: 25px;
	font-weight:normal;
	font-family: 'Lora', arial, serif;
}
.hresume .actions {
	clear: both;
	margin-bottom: 0 !important;
	margin-top:-40px;
	padding-left:120px;
	float:left;
	clear:both;
}
.hresume .locality {
	text-align: left;
	padding-left: 120px;
	font-size: 20px;
	font-weight:normal;
	font-family: 'Lora', arial, serif;
}
.hresume #overview ul{
	color:#fff;
}
.hresume .recommended, .hresume .connections{
}
.page #main .twothird .hresume .recommended img{
	width:15px;
	height:10px;
	background:#fff;
	padding:2px 2px 2px 0 !important;
}
.page #main .twothird .hresume .image{
	padding:3px !important;
	float:left;
}
.page #main .twothird .hresume .image .photo{
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding:3px !important;
}
.page #main .twothird .hresume .connections img{
	width:10px;
	height:10px;
	background:#fff;
	padding:1px 1px 1px 1px !important;
}
.hresume #overview {
	border-top: 1px solid #101D23;
}
.hresume .seeall, .hresume .showhide-link {
	 display: none;
}
.hresume .photo {
	float: left; margin: 0 5px 5px 0 !important;
}
.hresume dd.connections img, .hresume dd.recommended img {
	background: #fff !important; border: none !important; padding: 0 !important;
}
.hresume dd.recommended * { /*position: relative; left: -8px;*/ }
.hresume dt {
	font-weight: bold; font-size: 1.5em; 
	margin-top: 15px !important;
	color: #437186;
    font-family: 'Lora', arial, serif;
	/*font-family: 'LaneNarrowRegular', verdana;*/
    font-size: 21px;
    font-weight: normal;
    margin: 10px 0 0;
	padding:5px 0 5px 0;
}
.hresume dd {
	color: #fff;
}
.hresume a {
	color: #437186;
}

.page #main .twothird .hresume h3{
	margin:10px 0 2px 0;
}

.linkedinresumelogo, li.affiliation .logo
{
	background: white !important;
	vertical-align: middle;
}

li.affiliation a
{
	border-bottom: none !important;
	text-decoration: none !important;
}












form.jqtransformdone label{
	margin-top:4px;
	margin-right: 8px;
	display: block;
	float:left;
}
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	font-family: Arial;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	background: transparent url(img/btn_right.gif) no-repeat scroll right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
	height: 33px;
}

button.jqTransformButton span span {
	background: transparent url(img/btn_left.gif) no-repeat;
	color: #333;
	padding: 8px 4px 0px 8px;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
	display: block;
	text-decoration: none;
	height: 33px;
}

/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	background: transparent url(img/input_left.gif) no-repeat left top;
	height: 31px;
	padding: 0px;
	float:left;
}

.jqTransformInputInner {
	background: transparent url(img/input_right.gif) no-repeat right top;
	padding: 2px 4px 2px 0px;
	margin: 0px 0px 0px 4px;
}

.jqTransformInputInner div {
	height: 31px;
}

.jqTransformInputInner input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	vertical-align: middle;
	height: 31px;
	color:#404040;	
	border: none;
	padding: 5px 0 0 0;
	margin: 0 0 0 0;
	background:transparent;
}


/*  IE6 */

* html .jqTransformInputInner input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	vertical-align: middle;
	height: 31px;
	color:#404040;	
	border: 0;
	padding: 2px 0 0 0;
	margin: 0 0 0 0;
	background:transparent;
}


/*hover*/
.jqTransformInputWrapper_hover{ background: transparent url(img/input_left-hover.gif) no-repeat left top;}
.jqTransformInputWrapper_hover div{}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background: transparent url(img/input_right-hover.gif) no-repeat right top;}

/*focus*/
.jqTransformInputWrapper_focus{ background: transparent url(img/input_left-focus.gif) no-repeat left top;}
.jqTransformInputWrapper_focus div{}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background: transparent url(img/input_right-focus.gif) no-repeat right top;}



.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
}
.jqTransformSafari input {
	background-color: none;
	position: absolute;
	top: -10px;
	left: -2px;
	height: 42px; 
	padding-left: 4px;
}



/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}

table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
margin: 0;
padding: 0;
border: 0;
background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{
background: url(img/textarea-tl.gif) no-repeat bottom left;
}
table.jqTransformTextarea td#jqTransformTextarea-tm{
background: url(img/textarea-tm.gif) repeat-x bottom left;
}
table.jqTransformTextarea td#jqTransformTextarea-tr{
background: url(img/textarea-tr.gif) no-repeat bottom left;

}
table.jqTransformTextarea td#jqTransformTextarea-ml{
background: url(img/textarea-ml.gif) repeat-y top left;
}
table.jqTransformTextarea td#jqTransformTextarea-mm{
background: url(img/textarea-mm.gif) repeat top left;
}
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
font-size: 12px;
line-height: 16px;
}




table.jqTransformTextarea td#jqTransformTextarea-mr{
background: url(img/textarea-mr.gif) repeat-y top left;
}
table.jqTransformTextarea td#jqTransformTextarea-bl{
background: url(img/textarea-bl.gif) no-repeat top left;
}
table.jqTransformTextarea td#jqTransformTextarea-bm{
background: url(img/textarea-bm.gif) repeat-x top left;
}
table.jqTransformTextarea td#jqTransformTextarea-br{
background: url(img/textarea-br.gif) no-repeat top left;
}
/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-image: url(img/textarea-tl-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-image: url(img/textarea-tm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-image: url(img/textarea-tr-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-image: url(img/textarea-ml-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(img/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-image: url(img/textarea-mr-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-image: url(img/textarea-bl-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-image: url(img/textarea-bm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-image: url(img/textarea-br-hover.gif);}
/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-image: url(img/textarea-tl-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-image: url(img/textarea-tm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-image: url(img/textarea-tr-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-image: url(img/textarea-ml-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(img/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-image: url(img/textarea-mr-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-image: url(img/textarea-bl-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-image: url(img/textarea-bm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-image: url(img/textarea-br-focus.gif);}


table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	border: 0px solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top:-10px;
	left:-10px;
	padding: 10px 10px 10px 10px;
	resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(img/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:0px;
}
a.jqTransformCheckbox {
	background: transparent url(../images/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 31px;
	background: url(img/select_left.gif) no-repeat top left;
	float:left;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	width: 14px;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(img/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}






.js .entry #main .onethird ul li {
    height: 22px;
}


span.jqTransformCheckboxWrapper {
    clear: left;
    display: inline-block;
    float: left;
    margin-top: 4px;
	padding:0;
	background:none;
}

.ie7 span.jqTransformCheckboxWrapper {
    margin-left:-3px;
	margin-right:4px;
}

.js .jqtransformdone label {
	padding:4px 0 0 0;
}
.ie7 .jqtransformdone label {
	padding:3px 0 0 10px;
}




/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

